
<% for column in Cloud.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @cloud.send(column.name) %>
</p>
<%end %>
<%=makeCloud(@cloud)%>
<%= link_to 'Edit', :action => 'edit', :id => @cloud %> |
<%= link_to 'Back', :action => 'index' %>
