body{
    background-image: url(/images/cloudstile.png);
    background-color: #3f67b9;
    background-attachment: scroll;   
    color: #083594;
    font-family: "Courier New", courier;
    font-size:   100%;
    line-height: 138%;
}


#clouds{
    background-image : url(/images/background-fade.png);
    background-attachment: fixed;
    min-height: 900px;    
}

#bd{
	padding: 1em;
	
}

#yui-main > div.block {
    /*background-image : url(/images/block-background.png);*/
}

#bd h1, #bd h2, #bd h3{
    color: #002280;
    font-family: verdana, arial, helvetica, sans-serif;
}

img.button {
    padding: 2px;
    -moz-border-radius: 20%;
    background-color: #ffffff;
    margin: 5px;
    margin-bottom: 1em;
    margin-top: -0.5em;
}

div.title {
    display: block;
    margin-bottom: 1em;
    margin-right: 2em;
    float: left;
    
}


#bd h1{
    background-color: #ffffff;
    -moz-border-radius: 10%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.4em;
    font-size: 2em;
    display: inline;
}

#bd h2{
    font-size: 1.6em;
    margin-bottom: 0.5em;
}

#bd h3{
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

#bd a{
   color: #17387d;
   text-decoration: none;
}

#bd a:hover{
  text-decoration: underline;
}

#bd p{
    margin-bottom: 1em;
}




#hd{
    margin-left: -160px;
    margin-bottom: -50px;
}

#bd{
    background-color: transparent;
}

.block{
    background-color: transparent;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    
    margin-top: 10px;
    margin-bottom: 10px;
    
    border: 2px solid #4a69a8;
    
    -moz-border-radius: 15px;
    
}


#ft{
    background-color: transparent;
    border: 0;
    color: #083594;
    margin-left: 23px;
  
}


label{
 font-family: verdana, arial, helvetica, sans-serif;
 color: #002280;
 
}
