<%= error_messages_for 'cloud' %>

<!--[form:cloud]-->
<p>To create a cloud for your delcious bookmarks, simply enter your delicious account information
 (note: we do not store this information, we only use it to retrieve your bookmarks)</p> 
<p><label for="cloud_username">username</label>
<%= text_field 'cloud', 'username'  %></p>

<p><label for="cloud_password">password</label>
<%= text_field 'cloud', 'password'  %></p>
<!--[eoform:cloud]-->

