<%= error_messages_for 'cloud' %>

<!--[form:cloud]-->
<p><label for="cloud_name">Name</label><br/>
<%= text_field 'cloud', 'name'  %></p>

<p><label for="cloud_content">Content</label><br/>
<%= text_area 'cloud', 'content', :cols => '80', :rows => '10'  %></p>
<!--[eoform:cloud]-->

