<%= error_messages_for 'cloud' %>

<!--[form:cloud]-->
<p>To create a text cloud simply give your cloud a name, and cut and paste the text you want to use into the content box.</p> 
<p><label for="cloud_name">Name</label>
<%= text_field 'cloud', 'name'  %></p>

<p><label for="cloud_content">Content</label>
<%= text_area 'cloud', 'content', :cols => '80', :rows => '10'  %></p>
<!--[eoform:cloud]-->

