<div id="view_menu">

<%= link_to( image_tag("/images/icons/data.png", :size => "80x60", :class => "button"), :action => 'show_chart', :id => @cloud )%>
<%= link_to( image_tag("/images/icons/cloud.png", :size => "80x60", :class => "button"), :action => 'show', :id => @cloud )%>
<%= link_to( image_tag("/images/icons/chart.png", :size => "80x60", :class => "button"), :action => 'show_chart', :id => @cloud )%>

</div>