<div id="yui-main" class="new">

    <div class="block">
        <h1>Create a Cloud</h1>
        <h2>1. Pick a Cloud Type</h2>
        <%= render :partial => 'cloud_type_form' %>
    </div>
</div>