
<div id="yui-main">

<div class="block newTextCloud">

<h1>Create a Blog Cloud</h1>

<% form_tag :action => 'create_blogger_cloud' do %>
  <%= render :partial => 'blogger_cloud_form' %>
  <%= submit_tag "Create" %>
<% end %>
<br/>
<%= link_to '&laquo;&thinsp;Back', :action => 'new' %>

</div>
</div>