
<div id="yui-main">

<div class="block">

<h1>Cloud for <%= @cloud.url %></h1>

<h2>Cloud</h2>
<%=makeCloud(@cloud)%>
<br/>
<%= link_to 'Edit', :action => 'edit', :id => @cloud %> |
<%= link_to 'Back', :action => 'index' %>

</div>
</div>