
<div id="yui-main">

<div class="block">

<h1><%= @cloud.name %></h1>

<h2>Content</h2>
<p><%= @content %></p>

<h2>Cloud</h2>
<%=makeCloud(@cloud)%>
<br/>
<%= link_to 'Edit', :action => 'edit', :id => @cloud %> |
<%= link_to 'Back', :action => 'index' %>

</div>
</div>