
#settings{
    background-image: url(/images/panels/blue-30.png);
}

#settings dl{
}

#settings dl dt{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 1.0em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-image: url(/images/panels/blue-90.png);
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    margin-bottom: 4px;
    cursor: pointer;
    clear: both;
}

#settings dl dd{
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.9em;
    color: black;
}
#settings input{
    padding-right: 6px;
}

#settings .preview{
    color: black;
    font-size: 14px;
    font-weight: normal;
    padding-left: 1em;
}

#settings dl dd dt{
    background-image: url(/images/panels/blue-60.png);
    font-size: 1.2em;
    padding-left: 1.0em;
    font-weight: normal;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding-top: 0.0em;
    padding-bottom: 0.0em;
}

#settings dl dd dd{
   margin-left: 2em;
}

#settings span.previewClass{
    padding-left: 2px;
    padding-right: 2px;
}