@import url(_settings.css);
@import url(_export.css);


#yui-main div.block{
    /*min-height: 800px;*/
}

#chart{
    width: 600px;
    float: left;
}

#controls{
    width:360px;
    float: right;
    margin-left: 50px;
    padding-bottom: 50px;
}

#controls .yui-nav a{
    background-color: #FFF;
    font-family: verdana, helvetica, arial, sans-serif;
}

#controls .yui-nav .selected a{
  background-color: transparent;
}    

#controls .yui-content{
background-color: transparent;
   /*background-color: #95BEEF;*/
}

#links{
    clear: both;
    padding-top: 4em;
}