
.panel{
    padding: 10px;
    margin: 20px;
    min-height: 120px;
    width: 200px;
    float: left; 
}

.panel .title{
   margin: 0;
   display: block;
   
}

.panel h2{
    margin: 0;
    background-color: #ffffff;
}

.panel ul{
    margin-top: 1.2em;
    display: block;
    clear: both;
}

.panel li{
    margin-left: 0px;
    list-style: none;    
}

#actions{
    clear: both;
}

#actions .actionGroup {
   margin-left: 2em;
}

#actions .button{
    float: left;
    text-align : center;
    margin-left: 2em;
}

#actions .button img{
    display: block;
}

#actions h3{
    clear: both;
}

#openViews{
    clear: both;
    margin-left: 2em;
}

#openViews ul{
    margin-left: 2em;
}


#openViews li{
   list-style: disc;
   float: left;
   margin-left: 1em;
   margin-right: 1em;
   
}
