
.panel{
    padding: 10px;
    margin: 2em;
    min-height: 120px;
    width: 200px;
    float: left; 
}

.panel .title{
   margin: 0;
   display: block;
   
}

.panel h2{
    margin: 0;
    background-color: #ffffff;
}

.panel ul{
    margin-top: 1.2em;
    display: block;
    clear: both;
}

.panel li{
    margin-left: 0px;
    list-style: none;    
}

#actions{
    clear: both;
}

#actions .actionGroup {
   clear : both;
   margin-left: 6em;
   margin-bottom: 2em;
}

#actions .actionGroup h2{
    margin-left: -2em;
}

#actions .button{
    float: left;
    text-align : center;
    margin-right: 2em;
}

#actions .button img{
    display: block;
}

#actions h3{
    clear: both;
}

#savedWidgets{
    margin-bottom: 4em;
}

#savedWidgets h3{
    float: left;
    font-size: 93%;
}

#savedWidgets ul{
    margin-left: 2em;
    float: left;
}

#savedWidgets li{
   list-style: none;
   float: left;
   margin-left: 1em;
   margin-right: 1em;
}

#newWidgets {
    clear: both;
}
