<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Cloud: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'reset-fonts-grids' %>
  
  <%= stylesheet_link_tag 'scaffold' %>
  
  <%=stylesheet_link_tag "layout"%>
  
  <%=stylesheet_link_tag "tagcloud"%>
  
  <script src="/javascripts/tagcloud.js"></script>
  
    
</head>
<body>
 <div id="doc" class="yui-t7">
   <div id="hd"><h1>Tagulus</h1></div>
   <div id="bd">
	<div class="yui-g">
	
     <p style="color: green"><%= flash[:notice] %></p>

    <%= yield  %>
    
    </div>

	</div>
   <div id="ft">Copyright (c) 2007 <a href="http://gandrew.com">Gareth Andrew</a></div>
</div>

</body>
</html>
