--- 
store: 
  type: disk
drb: 
  host: 
  port: 6438
  acl: allow 127.0.0.1 allow ::1 allow 10.0.0.0/8
dispatchers:
  -
    targets: queue.*
    threads: 1
#carriers:
#  - 
#    source_uri: druby://another.host.local:6438
#    threads: 1
