<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Cloud: <%= controller.action_name %></title>
  
  <%= javascript_include_merged :cssquery %>
  <%= javascript_include_merged :mochikit %>
  <%= javascript_include_merged :yui %>
  <%= javascript_include_merged :ui %>
  <script src="/javascripts/tagcloud.js"></script>
  <% if ENV['RAILS_ENV'] == 'production' %>
    <script src="http://gandrew.com/mint/mint.js?"></script>
  <% else %>
    <!-- mint ignored - development mode -->
  <% end %>   

  <%= stylesheet_link_merged :base %>
  
  <%= automatic_stylesheets %>

  <!-- YUI CSS -->
  <link rel="stylesheet" type="text/css" href="/javascripts/yui/tabview/assets/tabview.css">
  <link rel="stylesheet" type="text/css" href="/javascripts/yui/tabview/assets/border_tabs.css">

</head>
<body>
<div id="clouds">
 <div id="doc2" class="yui-t7">
   <div id="hd"><h1><a href="/"><img src="/images/masthead.png" width="422" height="180" alt="Tagulus"/></a></h1></div>
   <div id="bd">
	
     <p style="color: green"><%= flash[:notice] %></p>

    <%= yield  %>
    
   </div>

	<div id="ft">Copyright (c) 2007 <a href="http://gandrew.com">Gareth Andrew</a></div>
</div>
</div>


</body>
</html>
